body {
  font-family: Verdana;
  background-color: black;
  text-align: center;
  color: white;
}
h1 {
  font-size: 50px;
  font-weight: normal;
}
h2 {
  font-weight: 300;
  font-size: 42px;
}
p {
  font-size: 21px;
  color: Gray;
}
a {
  font-weight: normal;
  color: Aquamarine;
  font-size: 16px;
}
a:hover {
  color:inherit;
}
a:visited {
  color:inherit;
}
#trademark {
  text-align: right;
  color: Gray;
}
